:root {
  /* colors */
  --color-bg: #111111;
  --color-orange: hsl(5, 98%, 60%);
  --color-orange-hover: hsl(5, 98%, 70%);
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular-large: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --logo-size: 36px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-primary-white);
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', sans-serif;
  cursor: default;
  border: 1px solid white;
  height: 100vh;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

span {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
}

body {
  overflow-x: hidden;
  background-color: var(--color-bg);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2em;
  border: 1px solid white;
}

.header__title {
  color: var(--color-orange);
  letter-spacing: -2.5px;
}

.header__navbar {
  display: flex;
  gap: 16px;
}

.navbar__item {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: var(--font-medium);
  padding: 8px 24px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
  user-select: none;
}

.navbar__item:hover {
  background-color: var(--color-orange-hover);
}

.document {
  margin: 40px 40px;
}

section {
  border: 1px solid white;
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  display: flex;
}

.card__image-container {
  flex-basis: 50%;
}

.image__thumbnail {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  flex-basis: 50%;
}

.card__desc {
  flex-basis: 50%;
  margin: 12px;
}

.page {
  color: var(--color-white);
}
