:root {
  /* colors */
  --color-bg: #111111;
  --color-orange: hsl(5, 98%, 60%);
  --color-orange-hover: hsl(5, 98%, 40%);
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-dialog-bg: rgba(18, 18, 18, 0.9);
  --color-dialog-overlay: rgba(0, 0, 0, 0.5);

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular-large: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --logo-size: 36px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-primary-white);
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', sans-serif;
  cursor: default;
  height: 100vh;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

span {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
}

dialog {
  border: none;
}

input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: var(--font-medium);
  border-radius: 5px;
}

input:focus {
  border: 1px solid var(--color-orange);
}

body {
  overflow-x: hidden;
  background-color: var(--color-bg);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2em;
}

.header__title {
  color: var(--color-orange);
  letter-spacing: -2.5px;
}

.header__navbar {
  display: flex;
  gap: 16px;
}

.navbar__item {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: var(--font-medium);
  padding: 8px 24px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
  user-select: none;
  transition: all 150ms ease;
}

.navbar__item:hover {
  background-color: var(--color-orange-hover);
}

.document {
  margin: 40px 40px;
}

.page__item {
  border: 1px solid var(--color-dark-grey);
  max-width: 968px;
  margin: 24px auto;
}

.item__header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.item__header-category {
  color: var(--color-orange);
}

.item__header-remove {
  padding: 8px;
}

.item__header-remove i {
  font-size: var(--font-medium);
  color: var(--color-white);
  transition: all 150ms ease-in;
}
.item__header-remove:hover i {
  color: var(--color-orange);
}

.item__content {
  padding: 0 16px;
}

.content {
  display: flex;
  padding: 16px 0;
}

.content__left {
  flex-basis: 50%;
}

.content__img {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  flex-basis: 50%;
}

.content__right {
  flex-basis: 50%;
  margin: 12px;
}

.content__video {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  border: none;
}

.content__title {
}

.note__title,
.todo__title {
}

.note_body,
.todo__body {
}

.page {
  color: var(--color-white);
}

/* Dialog */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: var(--font-regular);
  background-color: var(--color-dialog-overlay);
}

.dialog__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32em;
  padding: 32px 32px;
  background-color: var(--color-dialog-bg);
  font-size: var(--font-medium);
}

.dialog__body {
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  color: var(--color-white);
}

.dialog__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  transform: translate(-50%, 50%);
}

.dialog__close-btn i {
  color: var(--color-white);
  font-size: var(--font-medium);
  transition: all 150ms ease-in;
}

.dialog__close-btn:hover i {
  color: var(--color-orange-hover);
}

.dialog__submit-btn {
  color: var(--color-white);
  font-size: var(--font-medium);
  background-color: var(--color-orange);
  padding: 8px 24px;
  margin-top: 24px;
  border-radius: 5px;
  transition: all 150ms ease;
}

.dialog__submit-btn:hover {
  background-color: var(--color-orange-hover);
}
