:root {
  /* colors */
  --color-bg: #111111;
  --color-orange: hsl(5, 98%, 60%);
  --color-orange-hover: hsl(5, 98%, 40%);
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-dialog-bg: rgba(18, 18, 18, 0.9);
  --color-dialog-overlay: rgba(0, 0, 0, 0.5);

  /* Font size */
  --font-large: 48px;
  --font-medium-large: 36px;
  --font-medium: 28px;
  --font-regular-large: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --logo-size: 36px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-primary-white);
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', sans-serif;
  cursor: default;
  height: 100vh;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

span {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
}

dialog {
  border: none;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: var(--font-medium);
  border-radius: 5px;
}

input:focus {
  border: none;
}

textarea {
  outline: none;
  font-size: var(--font-medium);
  resize: none;
  min-height: 120px;
  padding: 0 16px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 5px;
}

body {
  overflow-x: hidden;
  background-color: var(--color-bg);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2em;
}

.header__title {
  color: var(--color-orange);
  letter-spacing: -2.5px;
}

.header__navbar {
  display: flex;
  gap: 16px;
  transition: all 300ms ease-in-out;
}

.header__navbar.active {
  left: 0;
}

.navbar__item {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: var(--font-medium);
  padding: 8px 24px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
  user-select: none;
  transition: all 150ms ease;
}

.navbar__item:hover {
  background-color: var(--color-orange-hover);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 1em;
  color: var(--color-orange);
  font-size: var(--font-medium-large);
}

.document {
  margin: 40px 40px;
}

.page__item {
  position: relative;
  max-width: 968px;
  margin: 24px auto;
  border-radius: 10px;
  /* box-shadow: 1px 1px 14px 0px rgba(187,148,148,0.48);
-webkit-box-shadow: 1px 1px 14px 0px rgba(187,148,148,0.48);
-moz-box-shadow: 1px 1px 14px 0px rgba(187,148,148,0.48); */
  box-shadow: 1px 1px 14px 0px rgba(253, 70, 53, 0.33);
  -webkit-box-shadow: 1px 1px 14px 0px rgba(253, 70, 53, 0.33);
  -moz-box-shadow: 1px 1px 14px 0px rgba(253, 70, 53, 0.33);
}

.item__header-remove {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}

.item__header-remove i {
  font-size: var(--font-medium);
  color: var(--color-white);
  transition: all 150ms ease-in;
}
.item__header-remove:hover i {
  color: var(--color-orange);
}

.item__content {
  padding: 0 16px;
}

.media__content {
  display: flex;
  padding: 8px 0;
  min-height: 300px;
}

.text__content {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  min-height: 120px;
}

.column {
  flex-direction: column;
}

.content__left {
  flex-basis: 50%;
  margin: 0 8px;
}

.content__image {
  object-fit: contain;
  min-height: 100%;
  width: 100%;
}

.content__right {
  flex-basis: 50%;
  margin: 0 8px;
}

.content__video {
  width: 100%;
  height: 100%;
  border: none;
}

.page {
  color: var(--color-white);
}

/* Dialog */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: var(--font-regular);
  background-color: var(--color-dialog-overlay);
}

.dialog__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32em;
  padding: 32px 32px;
  background-color: var(--color-dialog-bg);
  font-size: var(--font-medium);
}

.dialog__body {
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  color: var(--color-white);
}

.dialog__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  transform: translate(-50%, 50%);
}

.dialog__close-btn i {
  color: var(--color-white);
  font-size: var(--font-medium);
  transition: all 150ms ease-in;
}

.dialog__close-btn:hover i {
  color: var(--color-orange-hover);
}

.dialog__submit-btn {
  color: var(--color-white);
  font-size: var(--font-medium);
  background-color: var(--color-orange);
  padding: 8px 24px;
  margin-top: 24px;
  border-radius: 5px;
  transition: all 150ms ease;
}

.dialog__submit-btn:hover {
  background-color: var(--color-orange-hover);
}

/* Drag and Drop */
.mute-children * {
  pointer-events: none;
}

.drag_start {
  animation: dragStart 250ms;
  opacity: 0.2;
}

.drop_area {
  border: 2px solid var(--color-orange);
}

@keyframes dragStart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 968px) {
  :root {
    /* Font size */
    --font-large: 42px;
    --font-medium: 24px;
    --font-regular-large: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .media__content {
    flex-direction: column;
  }

  .header__navbar {
    display: block;
    position: fixed;
    top: 80px;
    left: -1000px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    z-index: 1;
  }

  .navbar__item {
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
    padding: 24px 0;
  }
  .navbar__toggle-btn {
    display: flex;
  }

  .navbar__item {
    width: 100%;
  }
}
