:root {
  /* colors */
  --color-bg: #111111;
  --color-orange: hsl(5, 98%, 60%);
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular-large: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --logo-size: 36px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
}
